body {
    background-image: url("images/background_2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 100%;
}

.left-panel {
    width: 100%;
    height: 100px;
/*
    background-color: red;
    */
}

.right-panel {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 100px;
/*
    background-color: blue;
    */
}

#content-form {
    width: 400px;
    margin: 0 auto;
    /*
    background-color: green;
    */
    padding-top: 100px;
}

#searchform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    border-radius: 10px;
    border: 5px solid black;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

#buttons {
    padding-left: 20px;
    padding-top: 10px;
    
    font-weight: bold;
    font-size: 25px;

    border: 1px solid black;
    background-color: rgb(255, 255, 255);

    width: 240px;
    height: 230px;

    margin-left: auto;
    margin-right: auto;
}

#buttons input {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 70px;
    padding-right: 70px;
}

#buttons label {
    padding-left: 5px;
}

#submit-button {
    width: 100px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
}

#submit-button input {
    border: 1px solid black;
    width: 100px;
    height: 50px;
}