/* centre the header element and give it light text on
*  dark background
*/

body {
    background-color: #001a00;
    background-image: url("images/background_1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    height: 100%;
    min-height: 100%;
}
#wrapper {
    width: 100%;
}

#header {
    width: auto;
    height: 105px;

    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

    background: url("images/banner.png") no-repeat rgba(00, 00, 17, 0.9);
    background-position-x: 300px;
    background-position-y: 25px;
}


#content {
    width: 1000px;
    height: 496px;

    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: rgba(00, 00, 17, 0.9);
}

#content img {
    margin-left: 150px;
}

#footer {
    width: auto;
    height:80px;

	position: absolute;
	bottom: 0;
    
    background-color: rgba(00, 00, 17, 0.9);
}

#searchform {
    background-color: #ffff66;;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
    top: 20%;
}

#searchform label {
    padding-left: 5px;
}

#searchform input {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 70px;
    padding-right: 70px;
}

#searchform-label {
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#buttons {
    padding-left: 120px;
    padding-top: 20px;
    
    font-size: 20px;
}

#submit-button {
    padding-bottom: 15px;
    padding-left: 100px;
}

#map {
    position: relative;
    top: 0px;

    height: 486px;
    width: 490px;

    border: 5px solid black;
}

#results {
    position: relative;
    top: 0px;

    height: 486px;
    width: 290px;

    border: 5px solid black;
    background-color: rgba(00, 00, 17, 0.9);

    float: right;
}

#results a {
    display: table-cell;
    height: 80px;
    width: 100%;
    border-style: outset;
    border-width: 4px;
    background-color: rgba(00, 00, 17, 0.5);
    
    clear: right;  
}

.top_bar {
    overflow: hidden;
    height: 25px;
    background: #000000;
}

.inner_wrap {
    width: 800px;
    overflow: hidden;
}
/*
.links_bar {
    height: 30px;
    background-color: rgba(00, 00, 17, 0.9);
}

.bottom_bar {
    overflow: hidden;
    height: 50px;
    background-color: rgba(00, 00, 17, 0.9);
}
*/