body {
    background-image: url("images/background_image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 100%;
}

.left-panel {
    width: 100%;
    height: 100px;
/*
    background-color: red;
    */
}

.right-panel {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 100px;


/*
    background-color: blue;
    */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-a {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-s {
    background-color: #006600;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-p {
    background-color: #660000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-r {
    background-color: #000066;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#content-form {
    width: 400px;
    margin: 0 auto;
    
    padding-top: 100px;
}

#searchform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 420px;
    border-radius: 10px;
    border: 5px solid black;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    clear: both;
}

#searchform-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.button {
    padding-top: 15px;
    
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    border: 1px solid black;

    width: 240px;
    height: 50px;

    margin: 0px auto 10px auto;
}

#auto-button {
    background-color: #ffffff;
}

#auto-button:hover {
    background-color: #ccffff;
}

#suburb-button {
    background-color: #ffffff;
}

#suburb-button:hover {
    background-color: #ccffff;
}

#park-button {
    background-color: #ffffff;
}

#park-button:hover {
    background-color: #ccffff;
}

#rating-button {
    background-color: #ffffff;
}

#rating-button:hover {
    background-color: #ccffff;
}


