#head {
    height: 80px;
    background-color: red;
}

#menu {
    background-color: yellow;
    height: 500px;
    width: 200px;
    float: left;
}

#cont {
    background-color: orangered;
    margin-left: 200px;
    margin-right: 200px;
}

#side {
    background-color: green;
    height: 500px;
    width: 200px;
    float: right;
}

#foot {
    height: 80px;
    background-color: blue;
    clear: both;
}