body {
    background-image: url("../images/background_2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(224, 224, 209, 0.6);
    background-image: url("../images/search.png");
    background-size: 30px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;    
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content-s {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
    height: 550px;
    border-radius: 10px;

}

.modal-content-p {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
    height: 165px;
    border-radius: 10px;
}

.modal-content-r {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

#rating-buttons {
    float: left;
}

#rating-confirm-button {
    clear: left;
    margin-top: 20px;
}

#rating-cancel-button {
    right: 30px;
    margin-top: 20px;
}

.rating_choice {
    padding-top: 5px;
    position: relative;
    right: 5px;
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    height: 30px;
    width: 280px;
}

.rating_choice input {
    opacity: 0;
}

.rating_choice label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/off.png');
    background-size: 30px 30px;
}

.rating_choice label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/on.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating_choice label:hover:before,  
.rating_choice label:hover ~ label:before,  
.rating_choice:not(:hover) :checked ~ label:before { opacity: 1; }

#content-form {
    width: 400px;
    margin: 0 auto;
    color: #ffffff;    
    padding-top: 200px;
}

#searchform {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 440px;
    border-radius: 10px;
    border: 1px solid #888;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    clear: both;
}

#searchform-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.button {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #000000;
    background-color: rgba(224, 224, 209, 0.6);

    border: 1px solid #888;
    border-radius: 4px;

    width: 240px;
    height: 50px;

    margin: 0px auto 10px auto;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}

.confirm-button {
    position: relative;

    padding-top: 10px;
    margin-top: 15px;
    left: 50px;
    float: left;

    background-color: rgba(0, 102, 0, 0.4);
    border: 2px solid #003300;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 100px;
    height: 30px;

}

.cancel-button {
    position: relative;

    padding-top: 10px;
    margin-top: 15px;
    right: 50px;
    float: right;

    background-color: rgba(102, 0, 0, 0.4);
    border: 2px solid #330000;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 100px;
    height: 30px;

}

.confirm-button:hover {
    border: 2px solid #00ff00;
    background-color: rgba(0, 102, 0, 0.7);
    transition: background-color 0.25s;
}

.cancel-button:hover {
    border: 2px solid #ff0000;
    background-color: rgba(102, 0, 0, 0.7);
    transition: background-color 0.25s;

}

#search-field {
    margin-top: 5px;
}

.searchSuburb {
    background-color: transparent;
    color: white;
    padding: 0px 16px 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    min-width: 168px;
}

.searchName {
    color: white;
    padding: 0px 28px 10px 16px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    width: 300px;
}

.searchRating {
    color: white;
    padding: 0px 16px 16px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    width: 330px;
}

.dropdown-content {
    position: absolute;
    background-color: transparent;
    min-width: 247px;
    height: 495px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #888;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    background-color: rgba(224, 224, 209, 0.6);
}

.dropdown-content a:hover {
    background-color: transparent;
    transition: background-color 0.25s;
    color: #ffffff;
}
