/* Global css */
body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
}

/* Index CSS */
#body-index {
    background-image: url("images/background_2.jpg");
}


/* Signup css */
#body-signup {
    background-image:url("images/background_3.jpg");
    margin:0px;
}

/* Search Results CSS */
#body-results {
    background-image: url("images/background_1.jpg");
    padding-bottom: 80px;
    height: 100%;
}

/* Review CSS */
#body-review {
    background-image:url("images/background_5.jpg");
    padding-bottom: 80px;
    height: 100%;
}

/* Login CSS */
#body-login {
    background-image:url("images/background_4.jpg");
    padding-bottom: 80px;
    height: 100%;
}


/* Header/Footer CSS */
#header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
}

.nograd {
    width: 100%;
    height: 40px;
    background-color: #000000;
    clear:both;
    color: #ffffff;
}

#logo {
    margin-top: 3px;
    margin-left: 100px;
    float: left;
}

#header_menu {
    margin-right: 100px;
}

.menu {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 7px;
    margin-right: 10px;
    float: right;
}

.menu:hover {
    transition: background-color 1s;
    transition: border-color 0.5s;
    background-color: rgba(224, 224, 209, 0.6);
    color: #000000;
    border-color: transparent;
}

#h_grad {
    width: 100%;
    height:30px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
}

#f_grad {
    width: 100%;
    height:30px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}


/* Page css */
.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}


input[type=text], input[type=password] {
    width: 360px;
    box-sizing: border-box;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(224, 224, 209, 0.6);
    padding: 5px 10px;
}

.input-signup {
    margin: 5px 0px 15px 20px;    
}

.input-login{
    margin: 5px 20px 15px 20px;    
}

#input-search {
    border: 2px solid #666666;
    color: #ffffff;
    background-image: url("images/search.png");
    background-size: 30px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
}

.content-form {
    width: 400px;
    margin: 0 auto;
    color: #ffffff;    
    padding-top: 100px;
}

#signup-form {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 700px;
    border-radius: 10px;
    border: 1px solid #666666;
}

.field-label {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#date-fields {
    position: relative;
    left: 110px;
    margin: 5px auto 15px auto;
}

#terms {
    margin: 5px auto 15px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

#terms a {
    color: #ffff99;
    text-decoration: none;
}

#terms a:hover {
    color: #cccc00;
}

.confirm-button {
    position: relative;

    margin-top: 15px;
    left: 50px;
    float: left;

    background-color: rgba(0, 102, 0, 0.4);
    border: 2px solid #003300;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 120px;
    height: 45px;

}

.cancel-button {
    position: relative;

    margin-top: 15px;
    right: 50px;
    float: right;

    background-color: rgba(102, 0, 0, 0.4);
    border: 2px solid #330000;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 120px;
    height: 45px;

}

.confirm-button:hover {
    border: 2px solid #00ff00;
    background-color: rgba(0, 102, 0, 0.7);
    transition: background-color 0.25s;
}

.cancel-button:hover {
    border: 2px solid #ff0000;
    background-color: rgba(102, 0, 0, 0.7);
    transition: background-color 0.25s;

}

#days {
    float: left;
}

#months {
    float: left;
}

.separator {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#regist-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
}

.name-field{
    float: left;
}

#fname-field {
    width: 170px;
    margin: 5px 0px 20px 20px;
}

#lname-field {
    width: 170px;
    margin: 5px 0px 20px 20px;
}

#name-label1 {
    color: white;
    padding: 0px 30px 0px 50px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

    float: left;
}

#name-label2 {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}

.inner-content {
    width: 1024px;
    margin: 0 auto;    
}

/* Results Map Box */
#results-map-border {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #666666;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    float: left;
    margin: 200px 10px 50px 0px;

}

#results-map {
    margin-top: 25px;
    margin-left: 25px;

    height: 450px;
    width: 450px;

    border: 1px solid #666666;
    border-radius: 10px;
    float: left;
}

/* Search Results Box */
#results-droplist {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #666666;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    float: right;
    margin: 200px 0px 50px 10px;

}

.title {
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border: none;
    min-width: 400px;
    padding: 20px 16px 16px 0px;
}

#search-title {  
    padding: 10px;
}

.results-dropdown-content {
    position: absolute;
    width: 450px;
    height: 406px;
    margin-left: 24px;
    overflow: auto;
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.results-dropdown-content a {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    background-color: rgba(224, 224, 209, 0.6);
    height: 105px;

    border-style: solid;
    border-width: 1px;
    border-color: #666666;
}

.results-dropdown-content a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}

#info-box {
    background-color: rgba(0,0,0,0.6);
    width: 500px;
    height: 500px;

    margin: 200px 0px 50px 0px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: left;
}

#park-details {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 40px;
}

#review-map {
    width: 450px;
    height: 318px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 24px;
}

#review-box {
    background-color: rgba(0,0,0,0.6);

    width: 500px;
    height: 500px;

    margin: 200px 0px 50px 0px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: right;
}

#review-list {
    width: 450px;
    height: 386px;
    margin-left: 25px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.review {
    background-color: #f5f5f0;
    height: 191px;
    border: 1px solid #666666;

}

#review-title {
    padding: 5px 10px;
}

#review-title a {
    font-size: 20px;
    text-decoration: none;
}

#stars {
    padding: 5px 10px;
    float: left;
}

#stars img{
    height: 20px;
}

#reviewer {
    padding-top: 5px;
}

#comments {
    padding: 5px 10px;
    clear: both;
}

#login-form {
    margin-top: 100px;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #666666;
}

#login-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
}


#register {
    position: relative;
    left: 60px;
    margin-top: 130px;
    color: white;
}

#register a {
    color: #ffff99;
    text-decoration: none;
}

#register a:hover {
    color: #cccc00;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content-s {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #666666;
    width: 250px;
    height: 550px;
    border-radius: 10px;

}

.modal-content-p {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #666666;
    width: 360px;
    height: 165px;
    border-radius: 10px;
}

.modal-content-r {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #666666;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

#terms_conditions-modal {
    background-color: rgba(0,0,0,0.6);
    color: #ffffdd;
    padding: 20px;
    border: 5px solid #ff9900;
    width: 400px;
    height: 550px;
    margin: 100px 0 0 615px;
}

#terms-form-title {
    font-size: 30px;
    text-align: center;
}

#terms-close-button {
    position: relative;
    text-decoration: none;
    color: #ffcc00;
    bottom: 20px;
    margin: 0px 170px;
    padding: 5px 10px;
    border: 1px solid #666666;
}

#terms-close-button:hover {
    color: #ffffdd;
    background-color: rgba(255,204,0,0.2);
    border: 1px solid #ffcc00;
}

#name-confirm-button {
    clear: left;
    padding-top: 10px;
    height: 30px;
}

#rating-buttons {
    float: left;
}

#rating-confirm-button {
    clear: left;
    margin-top: 20px;
    padding-top: 10px;
    height: 30px;
}

#rating-cancel-button {
    right: 30px;
    margin-top: 20px;
}

.rating_choice {
    padding-top: 5px;
    position: relative;
    right: 5px;
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    height: 30px;
    width: 280px;
}

.rating_choice input {
    opacity: 0;
}

.rating_choice label {
    position: relative;
    display: block;
    float: right;
    background: url('images/off.png');
    background-size: 30px 30px;
}

.rating_choice label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('images/on.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating_choice label:hover:before,  
.rating_choice label:hover ~ label:before,  
.rating_choice:not(:hover) :checked ~ label:before { opacity: 1; }

#searchform {
    margin-top: 100px;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 440px;
    border-radius: 10px;
    border: 1px solid #666666;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    clear: both;
}

#searchform-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.button {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #000000;
    background-color: rgba(224, 224, 209, 0.6);

    border: 1px solid #666666;
    border-radius: 4px;

    width: 240px;
    height: 50px;

    margin: 0px auto 10px auto;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}

#search-field {
    margin-top: 5px;
}

.searchSuburb {
    background-color: transparent;
    color: white;
    padding: 0px 16px 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    min-width: 168px;
}

.searchName {
    color: white;
    padding: 0px 28px 10px 16px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    width: 300px;
}

.searchRating {
    color: white;
    padding: 0px 16px 16px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    width: 330px;
}

.dropdown-content {
    position: absolute;
    background-color: transparent;
    min-width: 247px;
    height: 495px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    background-color: rgba(224, 224, 209, 0.6);
    border: 1px solid #666666;
}

.dropdown-content a:hover {
    background-color: transparent;
    transition: background-color 0.25s;
    color: #ffffff;
}
