body {
    background-image:url("../images/background_5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:1024px;
    margin:0px;
}

#wrapper {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
    overflow: auto;
}

#content {
    background-color: red;
    width: 1024px;
    margin: 0 auto;    
}

.title {
    background-color: transparent;
    color: white;
    padding: 0px 16px 16px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border: none;
    min-width: 400px;
}

#info-box {
    position: relative;
    top: 0px;

    background-color: rgba(0,0,0,0.6);
    padding: 20px;

    height: 450px;
    width: 450px;

    margin: 200px 10px 50px 10px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: left;
}

#park-details {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 40px;
}

#map {
    width: 450px;
    height: 318px;
    border-radius: 10px;
    margin-top: 20px;
}

#review-box {
    background-color: rgba(0,0,0,0.6);
    padding: 20px;

    height: 450px;
    width: 450px;

    margin: 200px 10px 50px 10px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: left;
}

#review-list {
    min-width: 400px;
    height: 386px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.review {
    background-color: #f5f5f0;
    height: 191px;
    border: 1px solid #666666;

}

#review-title {
    padding: 5px 10px;
}

#review-title a {
    font-size: 20px;
    text-decoration: none;
}

#stars {
    padding: 5px 10px;
    float: left;
}

#stars img{
    height: 20px;
}

#reviewer {
    padding-top: 5px;
}

#comments {
    padding: 5px 10px;
    clear: both;
}