body {
    background-image:url("images/background_3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:1024px;
    margin:0px;
}

input[type=text], input[type=password] {
    width: 360px;
    box-sizing: border-box;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(224, 224, 209, 0.6);
    padding: 5px 10px;
    margin: 5px 0px 15px 20px;    
}

input[type=email]{
    width: 360px;
    box-sizing: border-box;
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(224, 224, 209, 0.6);
    padding: 5px 10px;
    margin: 5px 0px 15px 20px;  
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

#content-form {
    width: 400px;
    margin: 0 auto;
    color: #ffffff;    
    padding-top: 100px;
}

#signup-form {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 700px;
    border-radius: 10px;
    border: 1px solid #666666;
}

.field-label {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#date-fields {
    position: relative;
    left: 110px;
    margin: 5px auto 15px auto;
}

#terms {
    margin: 5px auto 15px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

#terms a {
    color: #ffff99;
    text-decoration: none;
}

#terms a:hover {
    color: #cccc00;
}

.confirm-button {
    position: relative;

    padding-top: 10px;
    margin-top: 15px;
    left: 50px;
    float: left;

    background-color: rgba(0, 102, 0, 0.4);
    border: 2px solid #003300;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 100px;
    height: 30px;

}

.cancel-button {
    position: relative;

    padding-top: 10px;
    margin-top: 15px;
    right: 50px;
    float: right;

    background-color: rgba(102, 0, 0, 0.4);
    border: 2px solid #330000;
    transition: background-color 0.25s;

    color: #ffffff;
    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
    text-align: center;
    
    width: 100px;
    height: 30px;

}

.confirm-button:hover {
    border: 2px solid #00ff00;
    background-color: rgba(0, 102, 0, 0.7);
    transition: background-color 0.25s;
}

.cancel-button:hover {
    border: 2px solid #ff0000;
    background-color: rgba(102, 0, 0, 0.7);
    transition: background-color 0.25s;

}

#days {
    float: left;
}

#months {
    float: left;
}

.separator {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#regist-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
}

#fname-field {
    width: 170px;
}

#lname-field {
    width: 170px;
}

.name-field{
    float: left;
}

#name-label1 {
    color: white;
    padding: 0px 30px 0px 50px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

    float: left;
}

#name-label2 {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}