body {
    background-image:url("../images/background_5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    height: 100%;
}

#wrapper {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

#content {
    width: 1224px;
    margin: 0 auto;    
}

#info-box {
    background-color: rgba(0,0,0,0.6);

    height: 600px;
    width: 600px;

    margin: 200px 0px 50px 0px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: left;
}

.title {
    background-color: transparent;
    color: white;
    padding: 20px 16px 16px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border: none;
    min-width: 400px;
}

#park-details {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 40px;
}

#map {
    width: 560px;
    height: 433px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

#review-box {
    background-color: rgba(0,0,0,0.6);

    height: 600px;
    width: 600px;

    margin: 200px 0px 50px 0px;

    border: 1px solid #666666;
    border-radius: 10px;

    float: right;
}

#review-list {
    width: 550px;
    height: 495px;
    margin-left: 25px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.review {
    background-color: #f5f5f0;
    height: 245px;
    border: 1px solid #666666;

}

#review-title {
    padding: 5px 10px;
}

#review-title a {
    font-size: 20px;
    text-decoration: none;
}

#stars {
    padding: 5px 10px;
    float: left;
}

#stars img{
    height: 20px;
}

#reviewer {
    padding-top: 5px;
}

#comments {
    padding: 5px 10px;
    clear: both;
}